

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.yorumlar {
  display: flex;
  width: 145.52px; 
  
  padding: 16px 19.81px 17px 20px; 
  justify-content: center;
  align-items: center; 
  gap: 3.06px; 
  border-radius: 25px;
  background: linear-gradient(81deg, #387EC7 0%, #1F23AA 100%);
  margin-bottom: 20px;
  cursor: pointer; 

  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}


.yorumlar .yorum-text { 
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 13.672px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; 
  text-transform: uppercase;
}

.yorum-listesi {
  width: 100%;
  border-radius: 30px;
  background: #F7F7F7;
  margin-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.yorum-item {
  display: flex;
  flex-direction: column;
}

.yorum-satir {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.yorum-yildiz-kullanici {
  display: flex;
  align-items: center;
}

.yorum-kullanici {
    color: #000;
    font-family: Inter;
    font-size: 19.063px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
  margin-left: 10px; 
}

.yorum-tarih {
    color: #333;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px; 
    text-transform: uppercase;
  align-self: flex-end; 
}

.yorum-yildiz {
  display: flex;
  align-items: center;
}

.yorum-metin {
    color: #333;
    font-family: Inter;
    font-size: 15.214px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.66px;
  margin-bottom: 5px;
}

.yorum-baslik {
    color: #111;
    font-family: Inter;
    font-size: 22.87px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.94px; 
  margin-top: 5px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    background-color: transparent;
    color: #1F23AA;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
  
  .pagination span {
    padding: 8px 16px;
    margin: 0 5px;
    color: #1F23AA; 
    font-weight: bold;
    font-size: 16px;
  }