.prt-name {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 45.188px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
    margin-top: 73px;
    margin-bottom: 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 16px;
    margin: 10px;
    width: 200px;
    height: 365px;
    flex-shrink: 0;
    text-align: center;
    position: relative;
}

.product-image {
    width: 168px;
    height: 168px;
}

.name-1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16.172px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.description {
    color: #888;
    text-align: center;
    font-family: Inter;
    font-size: 11.273px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.stars {
    color: #f5c518;
    font-size: 18px;
}

.review {
    color: #333;
    font-family: Inter;
    font-size: 13.008px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
}

.price {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 19.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.tplm {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 11.922px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 63px;
}

.dec-7 {
    color: #000;
    font-family: Inter;
    font-size: 15.125px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.08px;
    margin-bottom: 13px;
}

.dec-8 {
    color: #000;
    font-family: Inter;
    font-size: 15.125px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.08px;
}

.blue-4 {
    color: #059669;
    text-align: center;
    font-family: Inter;
    font-size: 13.75px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    padding-bottom: 87px;
}